# Keys
*.pem

# Local storage
builds/
data/
uploads/

# Env variables
*.env

# Temporary files
temp/
migrate_to_mongodb.py
fix_log_format.py
__pycache__/
verify_route_protection.py
verify_github_db.py
verify_headers.py

# Log files
migration.log

# Default files
.DS_Store
node_modules
.next/